body {
	border: 5px solid rgb(90, 134, 101);
	background-color: rgb(113, 219, 166);
}

h1 {
	color: rgb(0, 46, 0);
	font-family: sans-serif;
	text-align: center;
}

h2 {
	color: rgb(0, 100, 30);
	font-family: sans-serif;
	text-align: center;
	
}

p {
	color: rgb(95, 112, 35);
	font-family: sans-serif;
	border: 3px solid rgb(90, 134, 101);
	margin-left: 500px;
	margin-right: 500px;
}
#johnpork {
	margin-left: 500px;
	border: 3px solid rgb(90, 134, 101);
}

button {
	color: rgb(24, 128, 20);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	margin-left: 500px;
}