body {
	border: 5px solid rgb(55, 74, 83);
	background-color: rgb(24, 36, 48);
}

h1 {
	color: rgb(118, 223, 255);
	font-family: sans-serif;
	text-align: center;
	display: block;
}

h2 {
	color: rgb(84, 154, 201);
	font-family: sans-serif;
	text-align: center;
	
}

p {
	color: rgb(43, 138, 167);
	background-color: rgb(42, 62, 71);
	font-family: sans-serif;
	border: 3px solid rgb(90, 125, 134);
	padding: 20px;
	margin: 2%;
	display: block;
}

a {
	color: rgb(43, 138, 167);
	background-color: rgb(42, 62, 71);
	font-family: sans-serif;
	border: 3px solid rgb(90, 125, 134);
	padding: 20px;
	margin: 2%;
	display:block;
}

button {
	color: rgb(64, 166, 214);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	padding: 5px;
	display:block;
	margin-left:50px;

	border: 3px solid rgb(90, 125, 134);
	background-color: rgb(42, 62, 71);
}

button:hover {
	color: rgb(64, 166, 214);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	padding: 5px;
	margin-left:50px;

	border: 3px solid rgb(90, 125, 134);
	background-color: rgb(31, 47, 54);
}

button:active {
	color: rgb(64, 166, 214);
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	padding: 5px;
	margin-left:50px;

	border: 3px solid rgb(90, 125, 134);
	background-color: rgb(53, 121, 150);
}

#pfp
{
	display: block;
	width: 10%;
	border: 3px solid rgb(90, 125, 134); 
}

#header
{
	background-color:rgb(55, 74, 83);
	padding: 10px;
}